@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

:root{
    --color-main: #D96704;
    --color-dark: #A6370F;
    --color-light: #F2B950;
    --gray-main-reddened: #281515;
    --gray-main: #282828;
    --gray-dark: #1f1f1f;
    --gray-light: #A0A0A0;
}

body{
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--gray-dark) !important;
    color: var(--color-main) !important;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.btn{
    background-color: var(--gray-dark);
    color: var(--color-main);
    border: 3px solid var(--color-main) !important;
    transition: all 0.15s ease-in-out;
    transition-property: background-color, color;
    font-size: 2em;
    border-radius: 4.5em;
    font-weight: 700;
    padding: 0.4em 1.5em;
    box-shadow: none !important;
}

.btn:first-child{
    margin-right: auto;
}

.btn:last-child{
    margin-left: auto;
    float: right;
}

.btn:hover,
.btn:active,
.btn:focus{
    background-color: var(--color-main) !important;
    color: var(--gray-dark) !important;
}

.upload{
    margin-left: auto;
    margin-right: auto;
}

.command-wrapper{
    display: inline-flex;
}

h1{
    font-size: 6.5em !important;
    font-weight: 900 !important;
    margin-bottom: 5vh;
}

h2{
    font-size: 3.5em !important;
    font-weight: 700 !important;
    margin-top: 3vh;
}

h3{
    font-size: 2em !important;
    padding-top: 0.5em;
}

form div{
    margin-top: 4em;
}

form label{
    font-size: 2em;
}

.form-control{
    min-height: 3em;
    padding-left: 1.5em;
    font-size: 1.5em !important;
    font-weight: 700 !important;
    border-radius: 4.5em !important;
    color: var(--gray-main) !important;
}

.table-control{
    outline: 0;
    overflow: hidden;
    min-height: 2em;
    text-align: center;
    font-size: 1em !important;
    font-weight: 700 !important;
    border-radius: 4.5em !important;
    color: var(--gray-main) !important;
}


.container-fluid{
    min-height: 100vh;
    min-width: 75vw;
}

.table{
    margin-top: 5vh;
    color: var(--color-main);
}

.table thead{
    font-weight: 800;
    font-size: 2em;
}

.table tbody{
    font-weight: 500;
    font-size: 1.5em;
}

.fas, .far{
    color: var(--color-light);
    padding: 0 1em;
    float: right;
}

.table-dark{
    background-color: var(--gray-main);
}

.action{
    float: right;
}

.alert-danger{
    background-color: var(--gray-main-reddened);
    border: 0;
    border-radius: 5vh;
    color: var(--color-dark);
}